*{
    
}
main{
background-color: black;
color: white;
}
h2{
    color: #5A86FA;
    border-bottom: solid;
    border-color: #5A86FA;
    width: 35vw;
    text-align: center;
    font-size: 4vw;
}
.headerleft{
   margin-left: 15vw; 
}
.bodyleft{
  margin-left: 7.6vw;
}
.headerRight{
    position: relative;
    left: 47.5vw;
}
.bodyRight{
    position: relative;
    left: 40vw;
}
.HeaderContact{
    margin: auto;
}
.bodyContact{
    margin: auto;
    margin-top: 6vh;
}
.Background{
    background-color: #4B4B4B;
    border: solid;
    border-color: #5A86FA;
    border-radius: 2vw;
    width: 50vw;
    height: 65vh;
}
.content{
    background-color: #5E5E5E;
    border: solid;
    border-color: #5A86FA;
    border-radius: 2vw;
    margin: auto;
    margin-top: 2vh;
    width: 48vw;
    height: 60vh;

}
p{
    font-size: 1rem;
}
a{
    background-color: #D9D9D9;
    padding: 0.8vw 1.3vw;
    color: #5A86FA;
    text-decoration: none;
    font-size: 1.7vw;
    border-radius: 1vw;
    position: relative;
    left: 18.5vw;
    bottom: 2vw;

}
/* about me */
.aboutP{
    width: 24vw;
    height: 20rem;
    font-size: 1.7vw;
    position: relative;
    left: 23vw;
    bottom: 0.5vh;
}
/* Skills */
.skillsL{
    position: relative;
    left: 18vw;
    bottom: 4vw;
    font-size: 2.8vw;
}
li{
    margin-bottom: -3vw;
    list-style-type: none;
}
.skillsI{
    display: flex;
    position: relative;
    width: 5vw;
    right: 6vw;
    top: 4.1vw;

}
/* project */
.ProjectI{
    margin-left: 2vw;
    width: 13vw;
    height: 20vh;
    object-fit: cover;
    position: relative;
    top: 4vw;
    border: solid;
    border-color: #5A86FA;
}
.ProjectsB{
    top: 11vw;
}
/* Resume */
.ResumeI{
    width: 16vw;
    border-radius: 2vw;
    border: solid;
    border-color: #5A86FA;
    position: relative;
    left: 16vw;
    top: 2vw;
}
.ResumeB{
    position: relative;
    left: 0.5vw;
    top: 9vw;
}
/* Contact */
.ContactB{
    position: relative;
    top: 20vh;
    left: 15vw;
    padding: 1vw 5.3vw;
    font-size: 2.7vw;
}
.ContactBA{
    width: 50vw;
    height: 44.5vh;
    margin-bottom: 4vh;
}
.ContactC{
    height: 40vh;
}